version: "3.8"

services:
  nginx:
    build:
      context: .
      dockerfile: docker/nginx.Dockerfile
    ports:
      - "80:80"
    depends_on:
      - php
  php:
    build:
      context: .
      dockerfile: docker/php.Dockerfile
    working_dir: /var/www/html
    environment:
      TZ: Asia/Shanghai
    security_opt:
      - seccomp:unconfined
    privileged: true
  db:
    image: mysql:5.7
    command: --character-set-server=utf8 --collation-server=utf8_general_ci
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: onegame
      TZ: Asia/Shanghai
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./data/onegame.sql:/docker-entrypoint-initdb.d/onegame.sql:ro

volumes:
  db_data:
